@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.about-image{
  margin-top: 5%;
  // height: 70%;
  // width: 70%;
}

p{
  color: #fff;
  font : normal 300 24px/1 'Josefin Sans', sans-serif;
  line-height: 40px;
  text-align: justify;
  padding: 40px;
}

#content-line-1{
  margin-top: 40%;
}
