<div class="conatiner-fluid">
    <div class="row">
        <div class="about-image col-sm-6 col-md-6 col-lg-6">
            <img src="/assets/About final.svg" alt="" @aboutIllustration> 
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p id="content-line-1" @aboutParagraph>Every journey begins with a single step. We're a team comprising 
            of a wide variety of mindsets, all working towards building a stronger ecosystem
            in unision. Every step you take, Helica will bolster you through to the end.</p>
        </div>
        
    </div>
</div>
    

