<div class="container-fluid">

    <div class="row">
        <div class="tag-line">
            <p>Empowering businesses with a digital presence</p>
        </div>
        <img class="home-illustration" src="/assets/Home illustration MAIN.svg" alt="">
        <div class="content-1">
            <p>Let your story flow, we'll help make it your best reality.</p>   
        </div>
    </div>

    <div class="row">
        <img class="about-img" src="/assets/About final.svg" alt="">
        <div class="about-content">
            <p>Every journey begins with a single step. We're a team comprising 
                of a wide variety of mindsets, all working towards building a stronger ecosystem.
            </p>
        </div>
    </div>

    <div class="pricing">
        <h2>PRICING</h2>
        <la-icon icon="la-angle-double-right"></la-icon>
        <br>
        <br>
    </div>
</div>