<div class="container-fluid">
    <div class="row">
        <img class="home-illustration" src="/assets/Home illustration MAIN.svg" alt="">
        <div class="content-1">
            <p>Let your story flow,</p>
        </div>
        <div class="content-2">
            <p> we'll help make it your best reality.</p>
        </div>
    </div>
    <div class="row">
        <img class="about-img" src="/assets/About final.svg" alt="">
        <div class="about-content">
            <p>Every journey begins with a single step. We're a team comprising 
                of a wide variety of mindsets, all working towards building a stronger ecosystem.
            </p>
        </div>
        
    </div>
</div>