p{
    color: #fff;
    font : normal 300 16px/1 'Josefin Sans', sans-serif;
}

.home-illustration{
    padding-left: 10%;
    padding-top: 25%;
}

.content-1{
    padding-left: 30%;
    padding-top: 25%;
   
}

.content-2{
    padding-left: 18%;
    padding-top: 1%;
}

.about-img{
    height: 80%;
    width:80%;
    padding-top: 25%;
    padding-left: 15%;
}

.about-content{
    padding-top: 15%;
    // padding-left: 2%;

    p{
        line-height: 1.5;
        text-align: center;
        
    }
}