<div class="contact-page">
    <div class="content">
      <div class="contact-image">
        <img src="/assets/contactfinal.svg" alt="fuck">
      </div>
      <div class="contact-form">
        <div class="hello-image">
            <img src="/assets/hello.svg" alt="fuck">
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-icon matSuffix style="margin-right: 10px;">message</mat-icon>
                <input matInput style="margin-bottom: 5px;" placeholder="Message">
              </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matSuffix style="margin-right: 10px;">email</mat-icon>
            <input matInput style="margin-bottom: 5px;" placeholder="Email">
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [formControl]="emailFormControl">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
            </mat-form-field> -->
        </form>
    
        <!-- <button mat-flat-button color="primary" class="submit-button">
          <mat-icon matSuffix [inline]="true">send</mat-icon>
          <span class="button-text">Send</span>
        </button> -->
      </div>
    </div>
    <div class="contact-options">
      <div class="contact-option">
        <mat-icon matSuffix [inline]="true">phone</mat-icon>
        <span class="contact-option-text">
          Call
        </span>
      </div>
      <div class="contact-option">
        <mat-icon matSuffix [inline]="true">email</mat-icon>
        <span class="contact-option-text">
          Email
        </span>
      </div>
      <div class="contact-option">
        <mat-icon matSuffix [inline]="true">map</mat-icon>
        <span class="contact-option-text">
          Map
        </span>
      </div>
    </div>
    </div>