<div class="contact-page">
    
  <div class="content">
    <div class="contact-image">

      <img src="/assets/Contact-new.png" alt="fuck">

    </div>
    <div class="contact-form">      
      <div>
        <div class="hello-header">
          <div class="contact-content">
            <p>The rudimentary process of buisness starts with greeting</p>
          </div>
          <img class="hello-image" src="/assets/hello.svg" alt="fuck">
        </div>
      </div>
      <form class="example-form">
          <mat-form-field class="example-full-width" [floatLabel]="'never'">
              <mat-icon matSuffix style="margin-right: 10px;">message</mat-icon>
              <input matInput style="margin-bottom: 5px;" placeholder="Send your message here" >
            </mat-form-field> 
      </form>
      <div class="contact-content">
          <p>let's join hands and begin</p>
        </div>
      <div class="contact-options">
        <div class="contact-option">
          <mat-icon matSuffix [inline]="true">phone</mat-icon>
          <span class="contact-option-text">
            Call
          </span>
        </div>
        <div class="contact-option">
          <mat-icon matSuffix [inline]="true">email</mat-icon>
          <span class="contact-option-text">
            Email
          </span>
        </div>
        <div class="contact-option">
          <mat-icon matSuffix [inline]="true">map</mat-icon>
          <span class="contact-option-text">
            Map
          </span>
        </div>
      <!-- <button mat-flat-button color="primary" class="submit-button">
        <mat-icon matSuffix [inline]="true">send</mat-icon>
        <span class="button-text">Send</span>
      </button> -->
    </div>
  </div>
  <!-- <div class="contact-options">
    <div class="contact-option">
      <mat-icon matSuffix [inline]="true">phone</mat-icon>
      <span class="contact-option-text">
        Call
      </span>
    </div>
    <div class="contact-option">
      <mat-icon matSuffix [inline]="true">email</mat-icon>
      <span class="contact-option-text">
        Email
      </span>
    </div>
    <div class="contact-option">
      <mat-icon matSuffix [inline]="true">map</mat-icon>
      <span class="contact-option-text">
        Map
      </span>
    </div> -->
  </div>
  </div>