@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


.contact-image{
    margin: 10%;
    
    width: 70%;
}

.contact-form{
    right: auto;
    width: 35%;
    color: black;

    .contact-content-1{
        margin-top:15%;
        font : normal 300 22px/1 'Josefin Sans', sans-serif;
        align-self: center;
        color: rgb(0,0,0,0.8);
        text-align: center;   
    }
    .hello-image{
        margin-top:5%;
        width: 30%;
        margin-left: 35%;
        display: flex;
        flex-direction: column;
    }
    .example-form {
        margin-left: 30%;
        min-width: 20%;
        max-width: 40%;
        width: 100%;
        align-self: center;

        .example-full-width {
            width: 100%;
          }
        .example-full-width .mat-form-field-appearance-legacy .mat-input-element {
            caret-color: rgb(0,0,0,0.8);
            color: black;
        }
        ::ng-deep .mat-form-field-label{
            color: rgb(0,0,0,0.8) !important;
            font : normal 300 18px/1 'Josefin Sans', sans-serif !important;
            
        }
        ::ng-deep .mat-form-field-underline{
            background-color:  rgb(20, 210, 238)!important; 
        }
        ::ng-deep .mat-form-field-ripple{
            background-color: rgb(194, 242, 152) !important;
            
        }
        
      }
    .contact-content-2{
        margin-right: 3%;
        margin-top: 5%;
        font : normal 300 22px/1 'Josefin Sans', sans-serif;
        align-self: center;
        color: rgb(0,0,0,0.8);
        text-align: center;   
    }
    .contact-options {
        margin-left: 25%;
        margin-top: 5%;
        border: 1px solid rgb(0,0,0,0.8);
        display: flex;
        align-self: center;
        width: 50%;
        border-radius: 5px;
        font-size: 22px;

        .contact-option {
            a{
                text-decoration: none;
                color:  rgb(0,0,0,0.8);
                font : normal 300 18px/1 'Josefin Sans', sans-serif ;
            }
            
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            
            mat-icon{
                color: rgb(0,0,0,0.8);
            }
            .contact-option-text {
                
                color: rgb(0,0,0,0.8);
                font : normal 300 18px/1 'Josefin Sans', sans-serif ;
            } 
        }
        .contact-option:not(:last-child) {
            border-right: 1px solid rgb(0,0,0,0.8);
        }
    }
}












  
  







