
.contact-page{
    display: flex;
    flex-direction: column;
    // color: rgb(110, 110, 110);
    color: white;

}

.contact-content{
    font : normal 300 42px/1 'Josefin Sans', sans-serif;
    align-self: center;
    margin-top: 2%;
}

.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 6%;
    margin-top: 2%;
    justify-content: space-evenly;
}

.contact-image{
    width: 50%;
}
.hello-image{
    width: 35%;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
}
.hello-header{
    display: flex;
    flex-direction: row;
    font : normal 300 30px/1 'Josefin Sans', sans-serif;
}
/* .contact-image, .contact-form{
    display: inline-flex;
} */
#block_container {
    display: inline;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple{
    background-color: white !important;
}
::ng-deep .mat-form-field-label{
    color: white !important;
}
/** Overrides underline color **/
// .example-full-width.mat-form-field-appearance-legacy.mat-form-field-underline{
//     color: white;
// }
// .example-full-width.mat-form-field-appearance-legacy {
//     color: white;
// }
// .mat-form-field-ripple{
//     color: white;
// }
// .example-full-width.mat-form-field-appearance-legacy .mat-focused
//     .mat-form-field-underline{
//         color: white;
//     }
// .example-full-width.mat-form-field-appearance-legacy.mat-focused
//     .mat-form-field-ripple {
//     color: white;
// }

.example-full-width.mat-form-field-appearance-legacy .mat-form-field-label{
    color: white;
}
// .example-full-width.mat-form-field-appearance-legacy.mat-focused
//     .mat-form-field-label {
//     color: white;
// }
// /** Overrides caret & text color **/
// .example-full-width.mat-form-field-appearance-legacy .mat-input-element {
//     caret-color: white;
//      color: white;
// }
.contact-form{
    /* float: right;
    margin-right: 200px;
    margin-top: 250px; */
    right: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 40px;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.contact-options {
    border: 1.7px solid white;
    display: flex;
    align-self: center;
    width: 38%;
    border-radius: 5px;
    font-size: 22px;
}

.contact-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.contact-option:not(:last-child) {
    border-right: 1.7px solid white;
}

.contact-option-text {
    font-size: 18px;
    margin-left: 7px;
}



.submit-button{
    align-items: center;
    align-self: flex-end;
    margin-bottom: 20px;    
    display: flex;
    justify-content: center;
    color: rgba(218, 202, 202, 0.767);
    background-color: rgb(83, 22, 42);
}

.button-text {
    font-size: 16px;
    margin-left: 6px;
}