<div class="container">
        <div class="card-deck">
                <div class="card ">
                  <div class="card-body text-center">
                    <p class="card-text">Basic</p>
                  </div>
                </div>
                <div class="card ">
                  <div class="card-body text-center">
                    <p class="card-text">Professional</p>
                  </div>
                </div>
                <div class="card ">
                  <div class="card-body text-center">
                    <p class="card-text">Premium</p>
                  </div>
                </div>
                
        </div>
</div>
