@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.navbar-default {
    background : inherit;
    border-color: #E7E7E7;
    
    
}

.navbar-default .navbar-brand {
    color:#fff;
    font-size: 25px;
    padding-left: 25px !important;
    font : normal 300 30px/1 'Josefin Sans', sans-serif;
}

.navbar-default .navbar-nav >  a {
    color:#fff;
    margin-right: 2% !important;
    margin-left: 2% !important;
    position: relative;
    left: -10%;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav >  a,
.navbar-default .navbar-nav >  a:after, 
.navbar-default .navbar-nav >  a:before{
    transition: all .5s;
}

.navbar-default .navbar-nav > a:hover {
    color:#fff;
  }

.navbar-default .navbar-nav > a:after{
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.navbar-default .navbar-nav > a:hover:after{
    width: 60%;
}

.logo{
    position: absolute;
    left: 2%;
    top: 70%;
    height: 50px;
    width: 50px;
}

#navbarNavAltMarkup{
    position: absolute;
    top:80%;
    left: 80%;
}