.navbar-brand {
    color:#fff;
    padding-top:5%;
    padding-left:2%;
}

.navbar-default{
    padding:0;
}
.logo{
    height: 25%;
    width: 25%;
}

.navbar-toggler-icon{
    background-image: url("/assets/menu-icon-2.svg");
    
}

.navbar-toggler{
   padding:0;
   padding-top:3%;
}

