
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap') format("opentype");
  }


.mobile-menu-close{
  height:30px;
  width: 30px;
  position: fixed;
  left: 90%;
  top: 5%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.menu-about-button{
  position: fixed;
  left: 50%;
  top: 30%;
  color:black;
  z-index: 1001;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  font : normal 300 18px/1 'Josefin Sans', sans-serif;
}

.menu-contact-button{
  position: fixed;
  left: 50%;
  top: 50%;
  color: black;
  z-index: 1001;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  font : normal 300 18px/1 'Josefin Sans', sans-serif;
}

.menu-pricing-button{
  position: fixed;
  left: 50%;
  top: 40%;
  color: black;
  z-index: 1001;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  font : normal 300 18px/1 'Josefin Sans', sans-serif;
}

.overlay{
  /* detach from document */
  position: fixed;

  /* ensure in front of rest of page except modal */
  z-index: 1000;

  /* fill screen to catch mice */
  top: 0;
  left: 0;
  width: 9999px;
  height: 9999px;

  /* dim screen 20% -- alter to taste */
  // opacity: 0.2;
  background-color:#EFF0F3;
}