<img [hidden]="!menuFlag" class="mobile-menu-close" (click)="menuCloseClicked()"src="/assets/close.svg" alt="">
<button [hidden]="!menuFlag" class="menu-about-button" (click)="aboutClicked()">ABOUT</button>
<button [hidden]="!menuFlag" class="menu-pricing-button" (click)="pricingClicked()">PRICING</button>
<button [hidden]="!menuFlag" class="menu-contact-button" (click)="contactClicked()">CONTACT</button>
<div [hidden]="!menuFlag" class="overlay"></div>
<app-header (menuClicked)="menuClickedHandlerApp($event)"></app-header>
<router-outlet></router-outlet>