.bg{
    background-color:#ebebeb;
    height: 100vh;
    color: black;
    
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Poppins&display=swap') format("opentype");
  }