@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$color-bg: #f8f8f8;
$card-margin: 1%;
$grid-gutter: 31px;

// Media Queries breakpoints
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

body {
  min-height: 100vh;
  background: $color-bg;
}

hr{
  align-self: center;
  width:50%
}

h2, p{
  color: rgb(0,0,0,.8);
  font : normal 300 32px/1 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
}

p{
  font-size: 22px;
  padding: 5%;
}

h2{
  padding-top: 5%;
}

.grid {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
  margin: 0 auto;
  align-self: center;

  @media screen and (min-width: $medium) {
    max-width: 1200px;
  }
}

.card {
  
  flex: 1 0 10%;
  display: flex;
  
  flex-direction: column;
  margin: $grid-gutter 0;  
  padding: $card-margin;
  background: lighten($color-bg, 3%);
  border-radius: 20px;

  @media screen and (min-width: $medium) {
    flex-basis: calc(33.33% - (#{$grid-gutter * 2} + #{$card-margin * 2}));
    margin: 0 $grid-gutter;
  }
}



.details > div > h2{
  color: #fff;
  margin: 0;
  
}

.details > div > p{
  color: #fff;
  margin: 0;
  padding-top: 5%;
  margin-left: -5%;
}
.card__one {

  transition: transform .5s;
  width: 340px;

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.btn-details{
  
  background-color: rgba(0,0,0,.8);
  border: transparent;
  padding: 10px;
  color: #fff;
  font: normal 300 32px/1 'Josefin Sans', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
}

.btn-compare{
  // position: absolute;
  // left: 45%;
  // top: 93%;
  margin-top: 20%;
  margin-left: 43%;
  background: transparent;
  color: #fff;
  font: normal 300 32px/1 'Josefin Sans', sans-serif;
  border-bottom: 0.15px solid rgb(232, 229,229);
  border-left: none;
  border-right: none;
  border-top: none;
}

.btn-back{
  
  // padding: 25%;
  padding-left:60%;
  padding-right: 60%;
  padding-top: 20%;
  padding-bottom: 20%;
  border-color: white;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
  
}

.backButton{
  margin-left: 45%;
  margin-top: 3%;
}

.slide-btn a {
  position: fixed;
  bottom: 1px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.slide-btn a:hover {
  opacity: .5;
}

.slide-btn a {
  padding-top: 50px;
}
.slide-btn a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.slide-btn a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slide-btn a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.slide-btn a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

