<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <!-- <div [@pricingAnimation]=planArrayLength> -->
            <div  class="grid" [@pricingAnimation]=arrayState>
              <div class="card card__one text-center" *ngFor="let plan of planArray">
                <h2 class="card-text">{{plan.plan}}</h2>
                <hr>
                <p>{{plan.description}}</p>
                <p>Starting at</p>
                <p class="card-text"><i class="fa fa-inr"></i>{{plan.cost}}</p>
                <p>exclusive of all taxes</p>
                <button class="btn-details" (click)="detailsClicked(plan.plan)">DETAILS</button>
              </div>
            </div>
          <!-- </div> -->
    </div>
  </div>
  <div class="row" *ngIf="!clicked">
    <div class="slide-btn col-sm-12 col-md-12 col-lg-12">
        <a [routerLink]="['/contact']"><span></span><span></span><span></span></a>
    </div>
  </div>
  <div class="row" *ngIf="clicked" @slideLeftAnimation>
     
          
              <div class="details col-sm-6 col-md-6 col-lg-6">
                <div>
                  <h2>Custom Design</h2>
                  <p>Let your story flow through us and we’ll find the best theme which defines the company</p>
                </div>
                <div [hidden]=!showDiv>
                  <h2>Custom Illustration</h2>
                  <p>Comprehensive illustrations, meaning you can understand and analyze in a simple manner</p>
                </div>
                <div>
                  <h2>Image search</h2>
                  <p>We yield images for the ideas you bring forth</p>
                </div>
                <div>
                  <h2>Responsive design</h2>
                  <p>Making your website look great, converting all visitors no matter the device</p>
                </div>      
              </div>
              <div class="details col-sm-6 col-md-6 col-lg-6">
                <div>
                  <h2>Color theme creation</h2>
                  <p>We define a creative color theme which is systematically set to make your website look rich with colors</p>
                </div>
                <div>
                  <h2>Microformats (SEO)</h2>
                  <p>Address the use of micro formats which search engines love and understand to better your rankings</p>
                </div>
                <div [hidden]=!showDiv>
                  <h2 >Google analytics integration</h2>
                  <p>Receive updates every month regarding in-depth detail about traffic inflow and how we shape the success strategy of your business</p>
                </div>
                
              </div>

              <div class="backButton">
                <button class="btn-back" (click)="backClicked()">
                  BACK
                </button>
              </div>
              
        
  </div>
  <!-- <div class="row" >
    <button class="btn-compare" @slideButton>COMPARE</button>
  </div> -->
  
</div>