<div class="container" [@pricingAnimation]="state">
    <div class="row">
      <div class="grid">
        <div class="card card__one text-center" *ngFor="let plan of planArray" >
          <h2 class="card-text">{{plan.plan}}</h2>
          <hr>
          <p>{{plan.description}}</p>
          <p>Starting at</p>
          <p class="card-text"><i class="fa fa-inr"></i>{{plan.cost}}</p>
          <p>inclusive of all taxes</p>
          <button class="btn-details" (click)="detailsClicked(plan.plan)">DETAILS</button>
        </div>
      </div>
    </div>
    
  </div>
  
  <button class="btn-compare" @slideButton>COMPARE</button>
  
  <div class="details" *ngIf="clicked" @slideLeftAnimation>
    <h2>Custom Design</h2>
    <h2>Custom Illustration</h2>
    <h2>Image search</h2>
    <h2>Responsive design</h2>
    <h2>Color theme creation</h2>
    <h2>Microformats (SEO)</h2>
    <h2>Google analytics integration</h2>
  </div>
  
  